/* ----- COLORS ----- */

$color-primary: #2d1c0f;
$color-white: #ffffff;

$color-black: rgb(0, 0, 0);

// FUNCTIONAL COLOR VARIABLES
$color-shadow-light: rgba($color-white, 0.5);
// $color-shadow-med: rgba($color-text-secondary, 0.5);
$color-shadow-black: rgba($color-black, 0.6);
