@import "./util/variables.scss";

nav {
  display: flex;
  justify-content: space-between;

  .la-nav__logo {
    width: 80px;
    height: 80px;
    margin-left: 50px;
    background-image: url("/asset/logoBR.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .la-nav__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }
}
