@import "./util/variables";
@import "./util/animations";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .la-nav__logo {
    width: 80px;
    height: 80px;
    margin-left: 50px;
    background-image: url("asset/logoDR.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    animation: fade 3000ms $easeOutBack 500ms forwards;
  }

  .la-nav__cta {
    button {
      width: 140px;
      margin-right: 60px;
      opacity: 0;
      animation: left-to-right 3000ms $easeOutBack 300ms forwards;
    }
  }
}
